.slider {
  position: relative;
  width: 520px;
  height: 270px;
  background: #fff;
  border-radius: 18px;
  border-top: 4px solid #0a2463;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.5);
  overflow: hidden;
  text-align: center;
  padding: 50px 60px;
}

.slide {
  position: absolute;
  width: 80%;
  margin-top: 40px;
  top: 0;
  opacity: 0;
  transform: translateX(100%);
}

.slide.active {
  opacity: 1;
  transform: translateX(0);
}

.slide.left-out {
  transform: translateX(-100%);
  opacity: 0;
}


.arrows {
  position: absolute;
  top: 45%;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.arrow {
  background: #28d1c3;
  color: #fff;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.dot {
  width: 12px;
  height: 12px;
  background: #ddd;
  border-radius: 50%;
}

.dot.active {
  background: #28d1c3;
}
